<!DOCTYPE html>
<html lang="en">

{%   load static  %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'tube/css/estilos.css'  %}">
    <title>PoopTube</title>
    <link rel="icon" type="image/jpg" href="{% static 'tube/imagenes/logo.png'  %}">
</head>

<body class="fondo">
    <!--Barra Menu Principal-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'principal'%}" style="color: black;">PoopTube</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'principal'%}">Inicio</a></li>

                    <li class="active"><a href="{% url 'historial' %}">Historial</a></li>
                    <li><a href="{% url 'favorito' %}">Favoritos</a></li>

                    <li><a href="{% url 'pooppremium' %}">Poop Premium</a></li>
                    <li><a href="{% url 'contactanos' %}">Contáctanos</a></li>


                </ul>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="form-group"> <input type="text" class="form-control" placeholder="Buscar" name="Buscar"
                            style="width: 400px;">
                    </div> <button type="submit" class="btn btn-default">Buscar</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'modificar' %}">Modificar</a></li>
                    <li><a href="{% url 'crear' %}"><span class="glyphicon glyphicon-user"></span> Crear Usuario</a>
                    </li>
                    <li><a href="{% url 'ingresar' %}"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Barra Menu Principal-->
    <!--Formulario de Registro -->
    <div class="container" style="height: 70vh;">
            <h1 id="myHeader">Registrate </h1>
        <div class="row">
            <!-- Manipular Messages-->
            {% if messages %}
            <div>
                {% for x in messages %}
                <p style="color: red;">{{ x }}</p><br>
                {% endfor %}
            </div>
            {% endif %}

            <form action="" enctype="multipart/form-data" id="formulario_registro"
                name="formulario_registro" method="POST">
                {% csrf_token %}
                <div class="form-group">
                        <label for="nombre">Nombre del usuario: </label>
                        <input class="form-control" id="nombre" name="nombre" type="text" required>
                    </div>
                <div class="form-group">
                    <label for="correo">Correo electronico: </label>
                    <input class="form-control" id="correo" name="correo" type="email" required>
                </div>

                <div class="form-group">
                    <label for="contra">Contraseña : </label>
                    <input class="form-control" id="contra" name="contra" type="password" required>
                </div>

                <div class="form-group">
                    <label for="contra2">Repita su contraseña: </label>
                    <input class="form-control" id="contra2" name="contra2" type="password" required>
                </div>
                <br>

                <button type="submit" class="btn btn-primary">Registrar</button>

            </form>
        </div>
    </div>
    <!--Inicio de foster-->
    <footer>
        <div class="container-footer-all">
            <div class="container-body">
                <div class="colum1">
                    <h1>Datos sobre la pagina</h1>
                    <p>Esta Compañia esta dedicada a recopilar los videos poop de internet </p>

                </div>
                <div class="colum2">
                    <h1>Redes Sociales</h1>
                    <div class="row">
                        <img src="{% static 'tube/imagenes/fb.png'  %}" class="redes_sociales">
                        <label>Siguenos en Facebook</label>
                    </div>
                    <div class="row">
                        <img src="{% static 'tube/imagenes/tw.png'  %}" class="redes_sociales">
                        <label>Siguenos en Twitter</label>
                    </div>
                    <div class="row">
                        <img src="{% static 'tube/imagenes/in.png'  %}" class="redes_sociales">
                        <label>Siguenos en Instagram</label>
                    </div>
                    <div class="row">
                        <img src="{% static 'tube/imagenes/gp.png'  %}" class="redes_sociales">
                        <label>Siguenos en GooglePlus</label>
                    </div>



                </div>
                <div class="colum3">
                    <h1>Informacion Contactos</h1>
                    <div class="row2"></div>

                    <label>La poop
                        Chile
                        Manuel Antonio Poop
                        Depto #4124
                    </label>
                    <div class="row2"></div>

                    <label>+569 49850512
                    </label>
                    <div class="row2"></div>

                    <label>PoopIndustries@Poopmail.com
                    </label>

                </div>

            </div>

        </div>
        <div class="container-footer">
            <div class="footer">
                <div class="copyright">
                    @2021 Todos los Derechos Reservados Corresponden a YouTube |
                    <a href="https://www.youtube.com/">YouTube </a>
                </div>

                <div class="information">
                    <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> |
                    <a href="">Terminos y Condiciones</a>
                </div>
            </div>
        </div>
    </footer>

    <!--Fin del Fooster-->
</body>

</html>