<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="{% static 'tube/css/estilos.css'  %}">
  <link rel="icon" type="image/jpg" href="{% static 'tube/imagenes/logo.png'  %}">

  <title>PoopTube </title>

</head>

<body class="fondo">
  <!--Barra Menu Principal-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'principal'%}" style="color: black;">PoopTube</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'principal'%}">Inicio</a></li>
          <li><a href="{% url 'historial' %}">Historial</a></li>
          <li><a href="{% url 'favorito' %}">Favoritos</a></li>
          <li><a href="{% url 'contactanos' %}">Contáctanos</a></li>

          <body class="dark-theme">



            <script src="app.js"></script>



        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
          <div class="form-group"> <input type="text" class="form-control" placeholder="Buscar" name="Buscar"
              style="width: 400px;">
          </div> <button type="submit" class="btn btn-default">Buscar</button>




        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'crear' %}"><span class="glyphicon glyphicon-user"></span> Crear Usuario</a></li>
          {% if user.is_authenticated %}
          <li>
            <p>Bienvenido {{user.username}}</p>
            <a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span>Cerrar Sesion</a>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
          {% endif %}


        </ul>
      </div>
    </div>
  </nav>
  <!--Barra Menu Principal-->


  <!-- Banner-->
  <div class="container">
    <h2 class="las">Ultimas novedades</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <a href="{% url 'reproductor' %}"><img src="{% static 'tube/imagenes/poop.jpg' %}" alt="imagen1">

          </a>
        </div>

        <div class="item">
          <a href="{% url 'reproductor' %}"><img src="{% static 'tube/imagenes/pikachu1.jpg' %}" alt="imagen2"></a>
        </div>

        <div class="item">
          <a href="{% url 'reproductor' %}"><img src="{% static 'tube/imagenes/pikachu2.jpg' %}" alt="imagen3"></a>
        </div>



      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br>
  <!-- Fin Banner -->

  <!--Videos Poop de la semana-->
  <section class="video-section">
    <h2 class="video-section-title">
      Videos Poop de la semana
      <button class="video-section-title-close">&times;</button>
    </h2>
    <article class="video-container">
      <!-- Manipular Messages-->
      {% if messages %}
      <div>
        {% for x in messages %}
        <p style="color: red;">{{ x }}</p><br>
        {% endfor %}
      </div>
      {% endif %}
      </div>
      <div class="row">
        {% for m in Videos %}
    </article>
    <article class="video-container">
      <div class="row">
        <tr>

          <td>
            {% if m.img_minatura %}
            <a href="{% url 'reproductor' %}"><img src="{{ m.img_minatura.url }}" style="width: 100% ;max-width: 300px;"></a>
          </td>
          {% endif %}
          <a href="{% url 'reproductor' %}">
            <td>{{ m.nombre_vi }}</td>
          </a>
        </tr>
        {% endfor %}
      </div>
      </div>
    </article>

  </section>
  <section class="video-section">
    <h2 class="video-section-title">
      Videos Poop Recomendados
      <button class="video-section-title-close">&times;</button>
    </h2>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
  </section>
  <section class="video-section">
    <h2 class="video-section-title">
      Videos Poop
      <button class="video-section-title-close">&times;</button>
    </h2>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
    <article class="video-container">
      <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
      </a>
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Video Title</a>
          <a href="#" class="video-channel-name">Channel Name</a>
          <div class="video-metadata">
            <span>12K views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </article>
  </section>


  <!--Fin de los videos poop musicales-->


  <!--Inicio de foster-->
  <footer>
    <div class="container-footer-all">
      <div class="container-body">
        <div class="colum1">
          <h1>Datos sobre la pagina</h1>
          <p>Esta Compañia esta dedicada a recopilar los videos poop de internet </p>

        </div>
        <div class="colum2">
          <h1>Redes Sociales</h1>
          <div class="row">
            <img src="{% static 'tube/imagenes/fb.png'  %}" class="redes_sociales">
            <label>Siguenos en Facebook</label>
          </div>
          <div class="row">
            <img src="{% static 'tube/imagenes/tw.png'  %}" class="redes_sociales">
            <label>Siguenos en Twitter</label>
          </div>
          <div class="row">
            <img src="{% static 'tube/imagenes/in.png'  %}" class="redes_sociales">
            <label>Siguenos en Instagram</label>
          </div>
          <div class="row">
            <img src="{% static 'tube/imagenes/gp.png'  %}" class="redes_sociales">
            <label>Siguenos en GooglePlus</label>
          </div>
        </div>



      </div>
      <div class="colum3">
        <h1>Informacion Contactos</h1>
        <div class="ro w2"></div>

        <label>La poop
          Chile
          Manuel Antonio Poop
          Depto #4124
        </label>
        <div class="row2"></div>

        <label>+569 49850512
        </label>
        <div class="row2"></div>

        <label>PoopIndustries@Poopmail.com
        </label>

      </div>

    </div>

    </div>
    <div class="container-footer">
      <div class="footer">
        <div class="copyright">
          @2021 Todos los Derechos Reservados Corresponden a YouTube |
          <a href="https://www.youtube.com/">YouTube </a>
        </div>

        <div class="information">
          <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> |
          <a href="">Terminos y Condiciones</a>
        </div>
      </div>
    </div>
  </footer>

  <!--Fin del Fooster-->
</body>

</html>