<!DOCTYPE html>
<html lang="en">

{%   load static  %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://file.myfontastic.com/tc26fJHv8scB3d4vHQRRsV/icons.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'tube/css/estilos.css'  %}">
  <title>PoopTube</title>
  <link rel="icon" type="image/jpg" href="{% static 'tube/imagenes/logo.png'  %}">
  <script src="{% static 'tube/java/validarInicio.js'  %}"></script>
</head>

<body class="fondo">
  <!--Barra Menu Principal-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'principal'%}" style="color: black;">PoopTube</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li ><a href="{% url 'principal'%}">Inicio</a></li>

          <li><a href="{% url 'historial' %}">Historial</a></li>
          <li><a href="{% url 'favorito' %}">Favoritos</a></li>

          <li><a href="{% url 'pooppremium' %}">Poop Premium</a></li>
          <li><a href="{% url 'contactanos' %}">Contáctanos</a></li>


        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
          <div class="form-group"> <input type="text" class="form-control" placeholder="Buscar" name="Buscar"
              style="width: 400px;">
          </div> <button type="submit" class="btn btn-default">Buscar</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'modificar' %}">Modificar</a></li>
          <li><a href="{% url 'crear' %}"><span class="glyphicon glyphicon-user"></span> Crear Usuario</a></li>
          <li><a href="{% url 'ingresar' %}"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--Barra Menu Principal-->
  <div class="container ">

    <div class="row">
      <div class="col-sm-12">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/sz_t5CzBFaY" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

    </div>

    <div class="row">

      &nbsp;
    </div>



    <div class="row">
      <div class="video-bottom-section">
        <a href="#">
          <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
        </a>
        <div class="video-details">
          <a href="#" class="video-title">Gato bailando sin sentido 1 hora</a>
          <a href="#" class="video-channel-name">Gato poop</a>
          <div class="video-metadata">
            <span>1000b views</span>
            •
            <span>1 week ago</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <h1 class="titulos_centrados">Comenta!</h1>
  </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="background">
          <img src="#" alt="">
          <div class="capa"></div>
        </div>
        
        
          <hr class="line">
          <div class="container-comments">

            <div class="comments">

              <div class="photo-perfil">
                <img src="#" alt="">
              </div>

              <div class="info-comments">

                <div class="header">
                  <h4>Andres Cortez</h4>
                  <h5>09 de Mayo del 2021</h5>
                </div>

                  <p>Jefe me hice caca pero es entretenido ,mas si estoy viendo al gato ,deberia rellenar? jaja no hice la caja para comentar ,dios los bendiga para que tengan buena semana y una bonita clase de base datos y el profe mejore y podamos pasar todos
                  el ramo y el profe no ponga mas excusas a la hora de hacer clases. eso si leyeron los quiero a todos   </p>

                <div class="footer">

                  <h5 class="request">Responder</h5>
                  <label class="icon-heart"></label>

                </div>
              </div>

            </div>
          </div>
          <div class="container-comments-request">

            <div class="comments-request">

              <div class="photo-perfil-request">
                <img src="image/perfil2.jpg" alt="">
              </div>

              <div class="info-comments-request">

                <div class="header">
                  <h4>Alexis Peña</h4>
                  <h5>09 de Mayo del 2021</h5>
                </div>

                <p>Bueno si leen esta caja de comentarios significa que la presentacion esta aburrida y lo entiendo , yo pienso lo mismo no nos gusta presentar pero nos obligan
                  estamos atrapados en una realidad , la tierra es plana, los veganos son reptilianos , manden aiuaaaaaaaaaaaaaaaaaaaaaaaaaaaa

                </p>

                <div class="footer">

                  <h5 class="request">Responder</h5>
                  <label class="icon-heart"></label>

                </div>
              </div>

            </div>
          </div>
          <div class="container-comments">

            <div class="comments">

              <div class="photo-perfil">
                <img src="image/perfil.png" alt="">
              </div>

              <div class="info-comments">

                <div class="header">
                  <h4>Erick Madrid</h4>
                  <h5>09 de Mayo del 2021</h5>
                </div>

                <p>Aqui tampoco se que poner pero profe si ve esto quiero decirle que es malo para el wow , y bien si llegaron aqui son dignos de respeto y se les quiere
                  sip, soy un ser humano , no tengo superpoderes , pero me gustaria volar ,bueno a quien no? que superpoderes les gustaria tener??
                </p>

                <div class="footer">

                  <h5 class="request">Responder</h5>
                  <label class="icon-heart"></label>

                </div>
              </div>

            </div>
          </div>

          <div class="container-comments">

            <div class="comments">

              <div class="photo-perfil">
                <img src="#" alt="">
              </div>

              <div class="info-comments">

                <div class="header">
                  <h4>Alexis peña</h4>
                  <h5>25 noviembre 2017</h5>
                </div>

                <p> si llegas aqui leyendo estas enfermo , deberias tratarte no deberia ser tan caro , te recomiendo una cancion ... pollito pio . Deberia estar arreglando el margin de esta caja para que no
                  tope con el fooster pero bueno es mejor perder el tiempo y jugar lol :D
                </p>

                <div class="footer">

                  <h5 class="request">Responder</h5>
                  <label class="icon-heart"></label>

                </div>
              </div>

            </div>
          </div>
        

      

        <script src="js/jquery.js"></script>
        <script src="js/script.js"></script>


      </div>
    </div>
  </div>

    <!--Inicio de foster-->
    <footer>
      <div class="container-footer-all">
        <div class="container-body">
          <div class="colum1">
            <h1>Datos sobre la pagina</h1>
            <p>Esta Compañia esta dedicada a recopilar los videos poop de internet </p>

          </div>
          <div class="colum2">
            <h1>Redes Sociales</h1>
            <div class="row">
              <img src="{% static 'tube/imagenes/fb.png'  %}" class="redes_sociales">
              <label>Siguenos en Facebook</label>
            </div>
            <div class="row">
              <img src="{% static 'tube/imagenes/tw.png'  %}" class="redes_sociales">
              <label>Siguenos en Twitter</label>
            </div>
            <div class="row">
              <img src="{% static 'tube/imagenes/in.png'  %}" class="redes_sociales">
              <label>Siguenos en Instagram</label>
            </div>
            <div class="row">
              <img src="{% static 'tube/imagenes/gp.png'  %}" class="redes_sociales">
              <label>Siguenos en GooglePlus</label>
            </div>



          </div>
          <div class="colum3">
            <h1>Informacion Contactos</h1>
            <div class="row2"></div>

            <label>La poop
              Chile
              Manuel Antonio Poop
              Depto #4124
            </label>
            <div class="row2"></div>

            <label>+569 49850512
            </label>
            <div class="row2"></div>

            <label>PoopIndustries@Poopmail.com
            </label>

          </div>

        </div>

      </div>
      <div class="container-footer">
        <div class="footer">
          <div class="copyright">
            @2021 Todos los Derechos Reservados Corresponden a YouTube |
            <a href="https://www.youtube.com/">YouTube </a>
          </div>

          <div class="information">
            <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> |
            <a href="">Terminos y Condiciones</a>
          </div>
        </div>
      </div>
    </footer>

    <!--Fin del Fooster-->
</body>
</body>

</html>