.fondo{

background-image:url('../imagenes/Fondo.png') ;
width: 100%;
height: 100vh;

background-position:center ;

}

.hr {
    background: black;
}
.main .grid-videos {
	display: grid;
	grid-gap: 40px 20px;
	grid-template-columns: repeat(4, 1fr);
}

.main .grid-videos .video {
	width: 100%;
	display: block;
	border: 3px solid #000000;
}

.main .grid-videos .video img
 {
	width: 100%;
	border: 3px solid #000000;
}

body {
	font-size: 15px;
	line-height: 1.5;
  }

.boton_1{
    text-decoration: none;
    font-family: helvetica;
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    color: black;
    background-color: #C6C6C6;
    border-radius: 15px;
    border: 3px black;
}

.letra{
    color: black;

}

#myHeader {
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
  }
.cuenta{
    background-color:  black;
    color: white;
    padding: 10px;
  } 
@media screen and (max-width:500px){
    .fondo{
        background-color: #C6C6C6 ;
    }
    
}
@media screen and (max-width:500px){
    .main .grid-videos .video img{
        background-color: #C6C6C6 ;
    }
    
}

.border{
	border: 2px solid #000000;
} 

.centrar{
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	padding: 20px;
 }

/* Inicio de las propiedades del Fooster*/
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
footer{
    width: 100%;
    background: #805415;
    color:white;
    

}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;

}

.container-body{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 400px;
}
.colum1 h1{
    font-size: 22px;
}
.colum1 p{
    font-size: 22px;
    color: #c7c7c7;
    margin-top: 20px;
}
.colum2{
    max-width: 400px;
    
}
.colum2 h1{
    font-size: 22px;

}
.colum2 row{
    margin-top: 20px;
    display: flex;
}
.redes_sociales{
    width: 35px;
    height: 36px;
}
.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}
.colum3{
    max-width: 400;
  
}
.colum3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 0px;
    display: flex;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}
.container-footer{
    width: 100%;
    background: #553200;
   
    padding: 10px;
    

}
.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 20px;
   
    justify-content: space-between;
}
.copyright{
    color: #c7c7c7;
}
.copyright a{
    text-decoration: none;
    color: #c7c7c7;
    font-weight: bold;
} 
.information a{
    text-decoration: none;
    color:#c7c7c7;
    font-weight: bold;
}
.social{
    font-weight: bold;
    text-decoration: none;

}

.titulos_centrados{
    text-align: center;
}

.fondo_contenedor_social{  /*Fondo de contenedor social */
    background-color: #D4A86A;
    margin-bottom: 20px;
    
}

.fondo_contenedor{ /*Fondo de contenedor tendencias*/
    background-color: white;
}

.imagenes_responsivas{
    width: 100%;
    max-width: 200px;
}

.espaciados_videos{
    margin-left: 10%;
    margin-right: 10%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

@media screen and (max-width:1100px){
    .container-body{
        flex-wrap: wrap;
    }
    .colum1{
        max-width: 100%;
    }
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}
/* Fin de las propiedades del Fooster*/



/*aqui empiezan las propiedades de los videos*/ 
.video-section {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 3rem 1rem;
	padding: 3rem 0;
	margin: 0 1.5rem;
	border-top: 4px solid #CCC;
  }
  
  .video-section:first-child {
	border-top: none;
  }
  
  .video-container {
	display: flex;
    flex-direction: column;
  }
  
  .thumbnail {
	position: relative;
    display: flex;
    background-color: #553200;
    border: 1px solid #ddd;
  }
  
  .thumbnail::before {
	content: attr(data-duration);
	position: absolute;
	background-color: rgba(0, 0, 0, .85);
	color: white;
	right: 5px;
	bottom: 5px;
	padding: .1em .3em;
	border-radius: .3em;
	font-size: .9rem;
  }
  
  .thumbnail-image {
	width: 100%;
	height: 100%;
	min-width: 250px;
	min-height: 150px;
	background-color: black;
  }
  
  .video-bottom-section {
	display: flex;
	align-items: flex-start;
	margin-top: 1rem;
  }
  
  .channel-icon {
	margin-right: .75rem;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	background-color: black;
  }
  
  .video-details {
	display: flex;
	flex-direction: column;
  }
  
  .video-title {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: .5rem;
	text-decoration: none;
	color: black;
  }
  
  .video-channel-name {
	margin-bottom: .1rem;
	text-decoration: none;
	transition: color 150ms;
  }
  
  .video-channel-name:hover {
	color: #111;
  }
  
  .video-channel-name,
  .video-metadata {
	color: black;
    
  }
  
  .video-section-title {
	grid-column: 1 / -1;
	margin: -.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 .5rem;
  }
  
  .video-section-title-close {
	border: none;
	background: none;
	padding: 0;
	font-size: 2rem;
	color: black;
	cursor: pointer;
  }
  /*aqui terminan las propiedades de los videos*/ 

  /*inicio del menu */ 
  #btn-menu{
    display: none;
}
.icon-menu{
    display: none;
}
.nav ul{
    margin: o;
    list-style: none;
    display: flex;
    padding: 0;
    cursor: pointer;

}
@media (max-width:760px){
    .icon-menu{
        display: block;
    }
   

    .nav ul{
        flex-direction: column;
        border-top: 1px solid #fffa;
    }

    #btn-menu:checked ~ .nav{
        margin: 0;
    }
    
    
}
/*fin del menu */ 
 /*crear usuario */ 
.form-register {
    width: 510px;
    height: 950px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  

  .form-controls {
    width:38%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white
  }
  
  .form-register p {
    height: 40px;
    text-align: auto;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-group {
    margin-bottom: 1px;
}
  

  @media screen and (max-width:500px){
    .form-controls{
        width:100%;
    
    
    }
    .form-register{
        width: 300px;
        padding: 10px;
        height: 1100px;
        
    }
  }


  .alert-danger {
    color: white;
    background-color: #24303c;
    width:38%;
    
  }
  