.fondo{
background-color: #C6C6C6  ;
}

.hr {
    background: black;
}
.main .grid-videos {
	display: grid;
	grid-gap: 40px 20px;
	grid-template-columns: repeat(4, 1fr);
}

.main .grid-videos .video {
	width: 100%;
	display: block;
	border: 3px solid #000000;
}

.main .grid-videos .video img
 {
	width: 100%;
	border: 3px solid #000000;
}

body {
	font-size: 15px;
	line-height: 1.5;
  }

.boton_1{
    text-decoration: none;
    font-family: helvetica;
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    color: black;
    background-color: #C6C6C6;
    border-radius: 15px;
    border: 3px black;
}

.letra{
    color: black;

}

#myHeader {
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
  }
.cuenta{
    background-color:  black;
    color: white;
    padding: 10px;
  } 
@media screen and (max-width:500px){
    .fondo{
        background-color: #C6C6C6 ;
    }
    
}
@media screen and (max-width:500px){
    .main .grid-videos .video img{
        background-color: #C6C6C6 ;
    }
    
}

.border{
	border: 2px solid #000000;
} 

.centrar{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #C9853C;
	padding: 20px;
 }

/* Inicio de las propiedades del Fooster*/
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
footer{
    width: 100%;
    background: #202020;
    color:white;
    

}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;

}

.container-body{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 400px;
}
.colum1 h1{
    font-size: 22px;
}
.colum1 p{
    font-size: 22px;
    color: #c7c7c7;
    margin-top: 20px;
}
.colum2{
    max-width: 400px;
    
}
.colum2 h1{
    font-size: 22px;

}
.colum2 row{
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 35px;
    height: 36px;
}
.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}
.colum3{
    max-width: 400;
  
}
.colum3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 0px;
    display: flex;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}
.container-footer{
    width: 100%;
    background: #101010;
   
    padding: 10px;
    

}
.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 20px;
   
    justify-content: space-between;
}
.copyright{
    color: #c7c7c7;
}
.copyright a{
    text-decoration: none;
    color: #c7c7c7;
    font-weight: bold;
} 
.information a{
    text-decoration: none;
    color:#c7c7c7;
    font-weight: bold;
}
.social{
    font-weight: bold;
    text-decoration: none;

}



@media screen and (max-width:1100px){
    .container-body{
        flex-wrap: wrap;
    }
    .colum1{
        max-width: 100%;
    }
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}
/* Fin de las propiedades del Fooster*/
/* Inicio de las propiedades de la Barra de categorias*/
.categories{
    padding:1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.category-section{
    display:flex;
    overflow: hidden;

}
.category{
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border:1px solid #ccc;
    border-radius: 900px;
    background-color: #e7e7e7;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor:pointer;
    transition: background-color  150ms;
}
.category:hover{
    background-color: #ddd;

}
.category.active{
    background-color: #606060;
    color:white;
    border-color:#eee;

}
.category:last-child{
    margin-right: 0;
}

/* Fin de las propiedades de la Barra de categorias*/